
.menuBG {
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -1em;


    background-image: url(shapper.jpg);
    
    background-size: cover;

    min-height: 700px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

body{
    font-family: Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: auto;  
}

.menu{
    text-align: center;
    margin-top: 0em;

}

.menu ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform:skew(-25deg) ;
}

.menu ul li{
    background-color:rgb(255, 255, 255);
    float:left;
    border-right: 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    transition:all 0.7s ease-in;
}

.menu li a:hover{
    color:#eeca00
}

.menu ul li ul {
    display:none;
    position: absolute;
}

.menu ul li:hover ul{
    display: block;

}

.menu li:hover ul li{
    float:none
}

 li.accueil{
    border-radius: 7px 0 0 7px;
}

li.contact{
    border-radius: 0 7px 7px 0;
}


.menu a{
    display:block ;
    padding: 1em 2em;
    color: inherit;
    text-decoration: none;
    transform: skew(25deg);
}

.sousMenu{
    text-align: center;
    margin-top: 0em;

}

.sousMenu ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transform:skew(0) ;
}

.sousMenu ul li{
    background-color:rgb(255, 255, 255);
    float:left;
    border-top: 1px solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

li.longboard{
    border-radius: 0px 0px 7px 7px;
}