.zoom {
    width: 600px;
    height : auto;
    cursor: pointer;
    cursor: -webkit-zoom-in;
}

#surCouche{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 999;

    visibility:hidden;
    opacity: 0;
    transition: all ease 0.3s;
}

#surCouche.show{
    visibility:visible;
    opacity: 1;
}

#inner{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#inner img{
    width: 100%;
    height : auto;
    max-width : 120 px;
    
}